.App {
  --pink: hsl(322, 100%, 66%);
  --light-pink: hsl(312, 62%, 75%);
  --very-pale-cyan: hsl(193, 100%, 96%);
  --very-dark-cyan: hsl(192, 100%, 9%);
  --grayish-blue: hsl(208, 11%, 55%);

  --side-padding: 70px;
  --mobile-side-padding: 20px;


  max-width: 1440px;
  margin: 0 auto;
  overflow-x: hidden;




}

