body {
  margin: 0;

  /* body font-family font-weights: 400, 700 */
  font-family: 'Open Sans', sans-serif;
  /* headings font-family font-weight: 600
  font-family: 'Poppins', sans-serif; */

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 18px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
